In [49]:
# 1. CONCATINATE TWO VARIABLE OF UR NAME AND SURNAME

In [5]:
a='GUNJAN'
b=' TOMAR'

In [6]:
print(a+b)

GUNJAN TOMAR

In [50]:
# 2.  CREATE A STRING VARIABLE OF UR NAME AND SURNAME,SLICE A STRING USING INDEXING SO IT WILL PRTINT UR 1ST NAME

In [10]:
name="gunjan tomar"

In [61]:
name[0:4]

'gunj'

In [60]:
print(type(name[0:6]))

<class 'str'>

In [55]:
for item in name:
    print(item[:9])

g
u
n
j
a
n

t
o
m
a
r

In [57]:
for item in name:
    print(name[:-2])

gunjan tom
gunjan tom
gunjan tom
gunjan tom
gunjan tom
gunjan tom
gunjan tom
gunjan tom
gunjan tom
gunjan tom
gunjan tom
gunjan tom

In [51]:
# 3. CREATE A LIST WITH DIFF STATES OF INDIA

In [47]:
i=['SIKKIM', 'MAHARASHTRA', 'KERALA', 'GOA', 'TAMIL NADU']

In [52]:
# 4. use for loop to print items from list

In [53]:
for item in i:
    print(item)

SIKKIM
MAHARASHTRA
KERALA
GOA
TAMIL NADU

In [62]:
for item in i:
    print(i)

['SIKKIM', 'MAHARASHTRA', 'KERALA', 'GOA', 'TAMIL NADU']
['SIKKIM', 'MAHARASHTRA', 'KERALA', 'GOA', 'TAMIL NADU']
['SIKKIM', 'MAHARASHTRA', 'KERALA', 'GOA', 'TAMIL NADU']
['SIKKIM', 'MAHARASHTRA', 'KERALA', 'GOA', 'TAMIL NADU']
['SIKKIM', 'MAHARASHTRA', 'KERALA', 'GOA', 'TAMIL NADU']