In [22]:
# 1. CREATE A VAR 'CITY' AND ASSIGN THE NAME OF UR FAV CITY TO IT. PRINT THE VAR

In [2]:
city='NEW YORK'

In [3]:
print(city)

NEW YORK

In [23]:
# 2. PRINT THE DATA TYPE OF THE VAR 'CITY'

In [6]:
print(type(city))

<class 'str'>

In [24]:
# 3. CONVERT THE INT 42 TO A STRING AND ASSIG IT TO A NEW VAR . PRINT THE NEW VAR

In [16]:
t=type(42)

In [21]:
print(t)

<class 'int'>

In [18]:
v=type(str(42))

In [19]:
print(v)

<class 'str'>

In [ ]:
# 4. USE len() ON UR NAME VAR AND COUNT LENGHT OF UR NAME

In [29]:
name='gunjan'

In [30]:
print(len(name))

6

In [31]:
surname='tomar'

In [33]:
print(len(surname))

5

In [32]:
print(len(name+surname))

11

In [34]:
# 5. USE "IF" STATEMENT TO CHECK "CODE" WORD EXIST OR NOT IN "CODE SQUARE"

In [36]:
course= 'CODE SQUARE'

In [45]:
if 'code' in course:
        print("yes its present")
else:
     print("no sry better luck next tym");

no sry better luck next tym

In [46]:
if 'CODE' in course:
    print("yes, u guessed it correct")
else:
    print("No, u guessed it wrong again")

yes, u guessed it correct